---
---

@import "{{ site.theme }}";
@import "https://www.clomads.com/application/themes/elemental/css/build/fonts/leaguespartan.css";
@import "https://www.clomads.com/application/themes/elemental/css/build/fonts/leaguemono/stylesheet.css";

header{
  h1{
    display: none;
    }
  }

h1{
 // font-family: "League Spartan";
}
  
a.button{
  display: inline-block;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 25px;
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 15px;
  &:hover{
    background-color: rgba(255,255,255,0.4);
  }
  &:not([href]){
   opacity: 0.5; 
  }
}
