---
---

@import "{{ site.theme }}";

header{
  h1{
    display: none;
    }
  }
  
a.button{
  display: inline-block;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 25px;
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 15px;
  &:hover{
    background-color: rgba(255,255,255,0.4);
  }
  &:not([href]){
   opacity: 50%; 
  }
}
